# Mission to Mars

In [19]:
# Import modules
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time

In [20]:
# Executable path is where chromedriver.exe exists
executable_path = {"executable_path":"c:\chromedriver\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless = False)

#### Mars News

In [21]:
# Launch the web page
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(2)

# Use BeautifulSoup to write it into html
html = browser.html
soup = bs(html,"html.parser")

#print(soup.prettify())

In [22]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text
news = soup.find("div", class_="list_text")
news_date = news.find("div", class_="list_date").text
news_title = news.find("div", class_="content_title").text
news_paragraph = news.find("div", class_="article_teaser_body").text

print(f"Date: {news_date}")
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Date: October 18, 2019
Title: Mars 2020 Unwrapped and Ready for More Testing
Para: In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing.

#### Featured Mars Image

In [23]:
# Executable path is where chromedriver.exe exists
executable_path = {"executable_path":"c:\chromedriver\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless = False)

In [24]:
# Launch the web page
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)
time.sleep(2)

# Use BeautifulSoup to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [25]:
# Scrape the browser into soup and use soup to find the image of mars
# Save the image url to a variable called `img_url`
image = soup.find("img", class_="thumb")["src"]

img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url

print(featured_image_url)

https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA23379-640x350.jpg

#### Mars Weather

In [26]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)
time.sleep(2)

In [27]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)
#temp

InSight sol 317 (2019-10-18) low -103.2ºC (-153.8ºF) high -26.2ºC (-15.2ºF)
winds from the SSE at 5.6 m/s (12.5 mph) gusting to 22.2 m/s (49.7 mph)
pressure at 7.10 hPapic.twitter.com/LNDEvGwVDw

#### Mars Facts

In [28]:
url_facts = "https://space-facts.com/mars/"

In [29]:
table = pd.read_html(url_facts)[1]

table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
mars_data=pd.DataFrame(table)
mars_data.columns = ["Mars Facts", "Values"]
mars_data

             Mars Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [31]:
mars_html_table = mars_data.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Facts</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [32]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [33]:
#Getting the base url
html = browser.html
soup = bs(html, 'html.parser')
mars_hemispheres=[]

#### Cerberus-Hemisphere-image-url

In [34]:
# loop through the four tags and load the data to the dictionary

for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    soup = bs(html, 'html.parser')
    partial = soup.find("img", class_="wide-image")["src"]
    img_title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ partial
    dictionary={"title":img_title,"img_url":img_url}
    mars_hemispheres.append(dictionary)
    browser.back()

In [35]:
mars_hem = pd.DataFrame(mars_hemispheres)
mars_hem

,img_url,title
0,https://astrogeology.usgs.gov/cache/images/cfa...,Cerberus Hemisphere Enhanced
1,https://astrogeology.usgs.gov/cache/images/3cd...,Schiaparelli Hemisphere Enhanced
2,https://astrogeology.usgs.gov/cache/images/ae2...,Syrtis Major Hemisphere Enhanced
3,https://astrogeology.usgs.gov/cache/images/7cf...,Valles Marineris Hemisphere Enhanced

In [36]:
browser.quit()